In [1]:
#1
import pandas as pd

In [4]:
l = [4, 8, 15, 16, 23, 42]

df = pd.Series(l)
print(df)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [5]:
#2
variable = ['tiger', 'lion', 'whale', 'orca','hyena','jackal', 'bee', 'sparrow', 'eagle','vulture' ]

df1 = pd.Series(variable)

print(df1)

0      tiger
1       lion
2      whale
3       orca
4      hyena
5     jackal
6        bee
7    sparrow
8      eagle
9    vulture
dtype: object

In [6]:
#Q3
data = {
    'Name': ['Alice', 'bob', 'Claire'],
    'Age': [25,30,27],
    'Gender': ['Female', 'Male', 'Female']
}

df2 = pd.DataFrame(data)
print(df2)

     Name  Age  Gender
0   Alice   25  Female
1     bob   30    Male
2  Claire   27  Female

#Q4
In Pandas, a DataFrame is a 2-dimensional labeled data structure that resembles a table or a spreadsheet, consisting of rows and columns. It is one of the primary data structures provided by the Pandas library for data manipulation and analysis. A DataFrame can hold heterogeneous types of data and is very versatile for working with structured data.

On the other hand, a Series is a 1-dimensional labeled array, similar to a column in a spreadsheet or a single attribute in a database table. A Series can be thought of as a single column of data with an associated label (index). It is a fundamental building block in Pandas and forms the columns of a DataFrame.

In [12]:
#DataFrame
data = {
    'Name': ['Aman', 'sach', 'kum'],
    'Age': [29, 30, 31],
    'City': ['delhi', 'ban', 'raipur']
}

df3 = pd.DataFrame(data)
print(df3)

#Series
age_series = df['Age']
print(age_series)

   Name  Age    City
0  Aman   29   delhi
1  sach   30     ban
2   kum   31  raipur
0    29
1    30
2    31
Name: Age, dtype: int64

In [11]:
#Q5
df

print(df.info()) 

print(df.describe()) 

print(df.head()) 

print(df.tail())

print(df.index) 

print(df.columns )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   City    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes
None
        Age
count   3.0
mean   30.0
std     1.0
min    29.0
25%    29.5
50%    30.0
75%    30.5
max    31.0
   Name  Age    City
0  Aman   29   delhi
1  sach   30     ban
2   kum   31  raipur
   Name  Age    City
0  Aman   29   delhi
1  sach   30     ban
2   kum   31  raipur
RangeIndex(start=0, stop=3, step=1)
Index(['Name', 'Age', 'City'], dtype='object')

#Q6
Among the options provided, both Series and DataFrame are mutable in nature.

Series: A Series is mutable because you can change its values or modify its contents after creation. You can update individual elements in a Series using indexing.

DataFrame: A DataFrame is also mutable. You can modify its contents by adding, updating, or removing rows and columns. You can change values in individual cells, add new columns, drop columns, and perform various other operations to modify the DataFrame.

In [14]:
#Q7
name = pd.Series(['sonali', 'ankit', 'shubham'])
age = pd.Series([27, 25, 29])
city = pd.Series(['bihar', 'delhi', 'rajasthan'])

data = {
    'Name': name,
    'Age': age,
    'City': city
}

df4 = pd.DataFrame(data)
print(df4)

      Name  Age       City
0   sonali   27      bihar
1    ankit   25      delhi
2  shubham   29  rajasthan